* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

Body {
  background-color: sandybrown;
}

.maintitle {
  background-color: red;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  font-family: monospace;
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.splash {
  display: flex;
  justify-content: center;
  background-image: url(https://static.wixstatic.com/media/58983b_e206442a452c419397865ca7bf9bc69b~mv2.png/v1/fill/w_2745,h_1266,al_c,q_95,enc_avif,quality_auto/IMG_1998_HEIC.png);
  background-size: cover;
  background-image: no-repeat, top right;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.herotext {
  position: absolute;
  bottom: 20px;
  color: dodgerblue;
  font-family: sans-serif;
  font-size: 400px;
  text-align: bottom;
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 100px;
}

.menuitems {
  position: absolute;
  bottom: -10px;
  color: black;
  text-decoration: underline;
}

.about {
  display: flex;
  justify-content: right;
  padding-top: 100px;
}

.jakephoto {
  height: 800px;
  width: 3500px;
}

h2 {
  color: black;
  font-size: xx-large;
  display: flex;
  justify-content: right;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 100px;
}

.extrest {
  display: flex;
  justify-content: left;
  height: 800px;
  width: 1000px;
}

.address {
  color: red;
  text-align: right;
  padding-right: 50px;
  font-size: 90px;
}

footer {
  background-color: red;
  color: white;
  padding: 20px;
  text-align: center;
}

p {
  color: white;
  font-family: monospace;
  font-size: xx-large;
  display: flex;
  justify-content: left;
  padding-left: 50px;
}

img {
  padding: 25px;
  height: ;
}
