* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

Body {
  background-color: sandybrown;
}

.maintitle {
  background-color: rgb(255, 255, 255);
  background: ;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: red;
  justify-content: left;
}

.container {
  font-family: monospace;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.splash {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center
}

.about {
    display: flex;
    justify-content: right;
}

.contact {
    display: flex;
    justify-content: left;
}
